# --- Private & Temp Data (The Cellar) ---
temp/
*.hash
*.tmp
*.info
geheim.*

# --- Databases & Local Indexes ---
lib/wordlists.db
lib/artifact_registry.db
*.db

# Framework internals
lib/artifact_registry.db
lib/wordlists.db
config.sh

# --- Large Files & Wordlists ---
lib/rockyou.txt
*.txt
*.lst
!README.md

# --- Backups & Sensitive Configs ---
old/
*.bak
config.sh
.DS_Store


# --- System & IDE ---
.vscode/
.idea/

# John the Ripper artifacts
*.pot
*.rec
*.log
temp/*
!temp/.gitkeeptemp/*
*.info
